/*body{
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  background-image: url(../wallpapers/wallpaper5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

form{
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  background-color: inherit;
  color: white;
  text-align: center;
  width: 300px;
  height: 400px;
  font-size: 16px;
  border-radius: 15px;
  border: 1px solid;
}

input[type=Email] {
    width: 90%;
    height: 20px;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=Email]:focus {
    background-color: #ddd;
    outline: none;
}

p{
  margin-top: 20px;
  text-align: justify;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin-top: 70px;
    border: none;
    cursor: pointer;
    opacity: 0.9;
    width: 50%;
}

a{
  color: green;
  text-decoration: none;
}

button:hover {
    opacity:1;
}

input{
  border: none;
  border-bottom: solid 0.5px;
  width: 100%;
}

input:focus{
  border: none;
  outline: none;
  border-bottom: solid 0.5px;
}

.container{
  padding: 16px;
}
*/
body{
  background-image: url(../wallpapers/wallpaper5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.recovery-box{
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #191919;
  background: dark;
  text-align: center;
  outline: 2px solid white;
  box-shadow: 5px 5px 5px gray;
}
.recovery-box h1{
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 26px;
}
.recovery-box input[type = "email"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}
.recovery-box input[type = "email"]:focus{
  width: 280px;
  border-color: lightblue;
}
.recovery-box input[type = "submit"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.recovery-box input[type = "submit"]:hover{
  background: #2ecc71;
  font-size: 24px;
}
label{
  color: white;
}
a{
  text-decoration: none;
  font-size: 18px;
  color: lightblue;
}
a:hover{
  cursor: pointer;
  text-decoration: underline;
  font-style: italic;
}
